@import "../../../scss/colors.scss";

.model-group {
  border: 1px solid $light-gray;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
}

.media {
  display: flex;
}

.media img {
  width: 150px;
  height: auto;
  margin-right: 15px;
}

.table {
  margin-top: 10px;
}

.model-name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-outline-primary {
  background-color: transparent;
  border-color: black;
  color: black;
}

.btn-primary {
  background-color: $blue;
  border-color: $blue;
  color: #fff;
}
.btn {
  border-radius: 0px;
}
p {
  margin: 0;
}
