.container-dashboard {
  display: flex;
  justify-content: center;
  padding: 30px 0;

  button {
    background-color: transparent;
    color: black;
    border-color: black;
    height: 40px;
  }
}
